:root {
  --chess-grid-size: 64px;
  --chess-grid-light: lightgray;
  --chess-grid-dark: darkgray;
}

$size: var(--chess-grid-size);
$light: var(--chess-grid-light);
$dark: var(--chess-grid-dark);

.chess-board {
  cursor: default !important;
  user-select: none !important;

  display: flex;
  flex-direction: column;

  .row, div.file-info {
    display: flex;
    flex-direction: row;
  }

  .row:not(.file-info) {
    &:nth-child(even) {
      div:nth-child(odd):not(.rank-info) {
        background-color: $dark;
      }

      div:nth-child(even):not(.rank-info) {
        background-color: $light;
      }
    }

    &:nth-child(odd) {
      div:nth-child(odd):not(.rank-info) {
        background-color: $light;
      }

      div:nth-child(even):not(.rank-info) {
        background-color: $dark;
      }
    }
  }

  div.square, div.rank-info, div.file-info div {
    border: 1px solid lightgray;
    text-align: center;
    height: $size;
    width: $size;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.square {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: attr(data-square-name);
      z-index: 0;
      font-size: 32px;
      color: black;
      opacity: 0.1;
    }

    .chess-piece {
      position: relative;
    }

    &.hovered {
      border-color: black;
    }
  }

  .chess-piece-placeholder {
    display: inline-block;
    height: $size;
    width: $size;
  }
}
